__pycache__/adding_function.cpython-39.pyc
__pycache__/data.cpython-39.pyc
__pycache__/Exit.cpython-39.pyc
__pycache__/LoadData.cpython-39.pyc
__pycache__/Login.cpython-39.pyc
__pycache__/MeminjamGadget.cpython-39.pyc
__pycache__/MenambahItem.cpython-39.pyc
__pycache__/MenghapusGadget.cpython-39.pyc
__pycache__/MenghapusItem.cpython-39.pyc
__pycache__/Register.cpython-39.pyc
__pycache__/RegisterAkmal.cpython-39.pyc
__pycache__/SaveData.cpython-39.pyc
Coba.py
5/user.csv
__pycache__/Help.cpython-39.pyc
__pycache__/MemintaConsumable.cpython-39.pyc
__pycache__/Pencarian_Rarity.cpython-39.pyc
__pycache__/Pencarian_Tahun.cpython-39.pyc
Testing01/consumable_history.csv
Testing01/consumable.csv
Testing01/gadget_borrow_history.csv
Testing01/gadget_return_history.csv
Testing01/gadget.csv
Testing01/user.csv
Testing02/consumable_history.csv
Testing02/consumable.csv
Testing02/gadget_borrow_history.csv
Testing02/gadget_return_history.csv
Testing02/gadget.csv
Testing02/user.csv
